{% extends 'base.html' %}

{% block title %} LOGIN {% endblock %}

{% block linkcss %}
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}"> 
{% endblock %}


{% block content %}
<div class="otp-container">
    <h2>Enter OTP</h2>
    <p>An OTP has sent to you. Please check your Email.</p>
    <form action="/verify_otp" method="post">
        {% csrf_token %}
        <!-- Add your OTP form fields here -->
        <label for="otp">OTP:</label>
        <input type="text" id="otp" name="otp" required>
        
        <button type="submit">Verify OTP</button>
    </form>
</div>
{% endblock %}