/* Additional styles for the login page */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.login-container h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    color: black;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    color:black
}

.login-container input {
    display: block;
    width: 350px; /* Make all inputs have the same width */
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 4px;
}

.login-container button {
    width: 100px; /* Make the button full width */
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #555;
}

.login-container p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: slateblue;
}

.login-container ul.errorlist{
    font-size: 15px;
    color: red;
}

/* Additional styles for the OTP page */
.otp-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.otp-container h2 {
    text-align: center;
    color: #333;
}

.otp-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otp-container label {
    margin-bottom: 8px;
}

.otp-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.otp-container button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.otp-container button:hover {
    background-color: #555;
}

.otp-container p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: center;
}